body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #000000;
}

#solar-system {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: rotateX(75deg);
    transform-style: preserve-3d;
}

#sun {
    position: absolute;
    top: 40%;
    left: 50%;
    height: 200px;
    width: 200px;
    background: yellow;
    border: 1px solid orange;
    border-radius: 50%;
    box-shadow: 0 0 128px red;
    transform: rotateX(-75deg);
    transform-style: preserve-3d;
}

.position-earth {
    position: absolute;
    transform-style: preserve-3d;
    animation: invert 130s infinite linear;
}

.position-moon {
    position: absolute;
    transform-style: preserve-3d;
    /*animation: invert 10s infinite linear;*/
}

#earth {
    position: absolute;
    top: 0;
    left: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid lightgreen;
    border-radius: 50%;
    background: lightblue;
    margin-left: -25px;
    margin-top: -25px;
    transform-style: preserve-3d;
    animation: shadow 130s;
}

#earth-orbit {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 650px;
    height: 650px;
    border: 0 solid white;
    border-radius: 50%;
    margin-top: -230px;
    margin-left: -230px;
    transform-style: preserve-3d;
    animation: orbit 130s linear infinite;
}

#moon {
    position: absolute;
    top: 0;
    left: 50%;
    height: 20px;
    width: 20px;
    border: 0 solid darkgray;
    border-radius: 50%;
    background: lightgray;
    transform-style: preserve-3d;
    transform: rotateX(-90deg);
    animation: shadow 10s;
}

#moon-orbit {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 0 solid white;
    border-radius: 50%;
    margin-top: -60px;
    margin-left: -60px;
    animation: orbit 10s linear infinite;
    transform-style: preserve-3d;
}

@keyframes orbit {
    100% { transform: rotate(-360deg); }
}

@keyframes invert {
    0%   { transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg); }
    100% { transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg); }
}

@keyframes shadow {
    0% {
        box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
        /* TOP */ }

    25% {
        box-shadow: inset 16px 0 8px rgba(0, 0, 0, 0.5);
        /* LEFT */ }

    50% {
        box-shadow: inset 40px -20px 16px rgba(0, 0, 0, 0.5);
        /* BOTTOM */ }

    50.01% {
        box-shadow: inset -40px -20px 16px rgba(0, 0, 0, 0.5);
        /* BOTTOM */ }

    75% {
        box-shadow: inset -16px 0 8px rgba(0, 0, 0, 0.5);
        /* RIGHT */ }

    100% {
        box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
        /* TOP */ }
}